.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  margin: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-family: var(--font-archivo);
}
.loader {
  width: 20rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid 0.7px;
  border-color: #ffffff #00000000 #ffffff #00000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
