@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* カスタムユーティリティを直接定義 */
.bg-custom-bg {
  background-color: #171A0F !important;
}

.bg-tile {
  background-image: url('/images/tile.png') !important;
  background-repeat: repeat !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
